span.yammerbutton {
    padding: 10px;
    float: right;
    cursor: pointer;
}
span.yammerbutton img {
    max-width: 20px;
}

a.yj-default-share-button {
    padding: 6px;
}

.yj-yam-spittle {
    width: 25px !important;
    height: 21px;
}

.yj-share-copy {
    font-size: 14px !important;
}
div.av_metadata {
    float:left;
}