<div class="courseracourseinfo shadow-1">
    <div class="row courseracourse">
        <div class="col-md-8">
            <div class="row">
                <div class="col-md-12">
                    <h2>{{title}}</h2>
                </div>
            </div>

            <div class="row coursestatus">
                {{#iscompleted}}
                    <div class="col-md-6">
                        <div>{{# str }} completed, mod_coursera {{/ str }}</div>
                    </div>
                {{/iscompleted}}
                {{^iscompleted}}
                    <div class="col-md-2">
                        {{#overallprogress}}
                            {{# str }} inprogress, mod_coursera {{/ str }}
                        {{/overallprogress}}
                        {{^overallprogress}}
                            {{# str }} notstarted, mod_coursera {{/ str }}
                        {{/overallprogress}}
                    </div>
                    <div class="col-md-6">
                        <div class="progress m-l-10 m-r-10 m-r-10 m-t-15">
                            <div class="progress-bar progress-bar-success" role="progressbar" aria-valuenow="{{overallprogress}}" aria-valuemin="0" aria-valuemax="100"
                                 style="width: {{overallprogress}}%">
                            </div>
                        </div>
                    </div>
                {{/iscompleted}}
            </div>
            {{^iscompleted}}
                <div class="row">
                    <div class="col-md-5">
                        <a class="btn btn-primary" href="{{config.wwwroot}}/mod/coursera/view.php?id={{cmid}}">{{# str }} launchincoursera, mod_coursera {{/ str }}</a>
                    </div>
                    <div class="col-md-6">
                        <span class="duration">{{# str }} estimatedlearningtime, mod_coursera, {{estimatedlearningtime}} {{/ str }} </span>
                    </div>
                </div>
            {{/iscompleted}}
        </div>
        <div class="col-md-4 rightcol">
            <h2>{{# str }} offeredby, mod_coursera {{/ str }}</h2>

            {{#partners}}
                <div class="row">
                    <div class="col-md-12">
                        <img class="partnerlogo" src="{{{logourl}}}" alt="{{{name}}}" title="{{{name}}}"/>
                    </div>
                </div>
            {{/partners}}
        </div>
    </div>

    <div class="row">
        <div class="col-md-8">
            <h2>{{# str }} aboutthiscourse, mod_coursera {{/ str }}</h2>
            {{{description}}}
        </div>
        <div class="col-md-4">
            <h2>{{# str }} instructors, mod_coursera {{/ str }}</h2>

            {{#instructors}}
                <div class="row instructor">
                    <div class="col-md-3 leftcol">
                        <img class="instructorphoto" src="{{{photourl}}}"/>
                    </div>
                    <div class="col-md-9 rightcol">
                        <div class="instructorname">{{{name}}}</div>
                        <div class="instructortitle">{{{title}}}</div>
                        <div class="instructordepartment">{{{department}}}</div>
                    </div>
                </div>
            {{/instructors}}
        </div>
    </div>
</div>