.arupadvcheckbox {
    max-width: 505px;
    position: relative;

    input {
        bottom: 0;
        cursor: pointer;
        display: block;
        filter: alpha(opacity=0);
        height: 0;
        left: 0;
        margin: 0;
        opacity: 0;
        position: absolute;
        right: 0;
        top: 0;
        width: 0;

        + span {
            cursor: pointer;
            display: inline-block;
            margin-left: 5px;
            padding-left: 40px;
            -webkit-user-select: none;
               -moz-user-select: none;
                -ms-user-select: none;
                    user-select: none;

            &:before {
                background: @arupgreen;
                border-radius: 20px;
                box-shadow: none;
                content: "";
                display: inline-block;
                height: 20px;
                left: 0;
                position: absolute;
                transition: background 0.2s ease-out;
                width: 40px;
            }

            &:after {
                background: #ffffff;
                background-clip: padding-box;
                border: solid transparent 2px;
                border-radius: 20px;
                content: "";
                display: block;
                height: 20px;
                left: 0;
                position: absolute;
                top: 0;
                transition: margin-left 0.1s ease-in-out;
                width: 20px;
            }
        }

        &:checked {
            + span:before {
                background: @arupred;
                transition: background 0.2s ease-in;
            }

            + span:after {
                background-clip: padding-box;
                border: solid transparent 2px;
                content: "";
                margin-left: 20px;
                -webkit-animation: popIn ease-in 0.3s normal;
                        animation: popIn ease-in 0.3s normal;
            }
        }

        &:not(:checked) + span:after {
            -webkit-animation: popOut ease-in 0.3s normal;
                    animation: popOut ease-in 0.3s normal;
        }

        &:disabled {
            cursor: not-allowed;

            + span {
                cursor: not-allowed;
                filter: alpha(opacity=50);
                opacity: 0.5;
            }
        }
    }
}