.oa-tagline {
    font-size: 0.85em;
    margin-bottom: 1rem;
}

.oa-appraisee {
    color: @appraisee;
}

.oa-appraiser {
    color: @appraiser;
}

.oa-signoff {
    color: @signoff;
}

// Increase tooltip width.
.tooltip-inner {
    max-width: 400px;
}

hr.tophr {
  margin-top: 0;
}

&.jsenabled .visibleifnotjs {
    display: none;
}

.btn-xs {
    padding: 1px 5px;
    font-size: 12px;
    line-height: 1.5;
    border-radius: 3px;
}