.certification-report-table{
    width:100%;
}
.certification-report-table td{
    padding: 5px 10px;
    background-clip: padding-box;
}

.status-red {
    background-color:#d20d00;
    color: white;
    text-align: center;
}

.status-amber {
    background-color: #ff9000;
    color: white;
    text-align: center;
}

.status-green {
    background-color:#a6be22;
    color: white;
    text-align: center;
}

.status-optional {
    border: 1px solid black;
}

.status-na {
    background-color:#fff;
    color: black;
    text-align: center;
}

.report-shape-red {
    background-color:#d20d00;
    height: 14px;
    width: 14px;
    border-radius: 11px;
    position: absolute;
    right: 5px;
    top: 50%;
    margin-top: -7px;
    cursor: pointer;
}

.report-shape-amber {
    height: 0;
    width: 0;
    border-left: 7px solid transparent;
    border-right: 7px solid transparent;
    border-bottom: 12px solid #ff9000;
    position: absolute;
    right: 5px;
    top: 50%;
    margin-top: -7px;
    cursor: pointer;
}

.report-shape-green {
    background-color:#a6be22;
    height: 14px;
    width: 14px;
    border-radius: 0;
    position: absolute;
    right: 5px;
    top: 50%;
    margin-top: -7px;
    cursor: pointer;
}

.exemption-modal-wrapper{
    width: 100%;
    height: 100%;
    position: fixed;
    background: rgba(0, 0, 0, 0.4);
    left: 0;
    top: 0;
    z-index: 1030;
}

.exemption-modal {
    background: white none repeat scroll 0 0;
    border: 1px solid black;
    display: inline-table;
    height: auto;
    left: 0;
    margin: 0 auto;
    right: 0;
    width: 600px;
    z-index: 9999;
    overflow: hidden;
    position: fixed;
    top: 50%;
    margin-top: -80px;
}
.exemption-modal .mform .fitem .felement.fgroup input[type="text"]{
    width:auto;
}

.exemption-modal .exemption-modal-header {
    padding-left:20px;
    font-weight:bold;
    font-size: 17px;
    line-height: 45px;
}

.certification-report-table td.td-circle{
    padding: 5px 25px 5px 5px;
    position: relative;
}

.certification-report-table tr{
    border: 1px solid black;
}
.certification-report-table .viewtotal{
    font-weight: bold;
    border-top: none;
    border-bottom: none;
}
.certification-report-table .header-region,
.certification-report-table .header-costcentre,
.certification-report-table .header-users {
    font-weight: bold;
    border-bottom: none;
}

.certification-report-table .row-viewusers td {
    border: 1px solid black;
}

.table-wrapper{
    overflow-x: auto;
    clear: both;
}

.certification-report-table tr.row-viewusers:nth-child(even) {
    background: #eee;
}

.note-author{
    font-size: 10px;
    margin-left: 10px;
}

.user-progress{
    float: right;
}


.status-text-red{
    color:#d20d00;
}

.status-text-amber{
    color:#ff9000;
}

.status-text-green{
    color:#a6be22;
}

.optional{
    background-color: #c0c0c0;
    text-align: center;
}
.user-progress.optional {
    background-color: inherit;
    color: #c0c0c0;
}

.certification-report-table .reset-certification {
    cursor: pointer;
    margin-right: 5px;
}

.block_certification_report h3 {
    font-size: 19px;
    line-height: 20px;
    margin: 10px 0 5px 0;
}

.path-blocks-certification_report .mform .fitem .felement input[type="text"].select2-match {
    border-color: #aaaaaa;
    height: 34px;
    max-width: none;
    padding-top: 6px;
    padding-bottom: 6px;
    width: 75%;
}

.path-blocks-certification_report .copy-to-clipboard {
    cursor: pointer;
}

.block_certification_report .footer span {
    font-size: 12px;
}

#managelink-form #id_cancel {
    display: none;
}