<div class="arupavcminfo {{ advertclass }}">
    <h2 class="arupav_title m-b-20">{{name}}{{#logo}}<img class="arupav_logo" src="{{{logo}}}">{{/logo}}
    </h2>
    {{#hassections}}
        <div class="avblock {{#courseimage}} border-top-0 {{/courseimage}} {{#hassections}}to-right{{/hassections}} shadow-1 clearblock">
        <div class="av_image_wrapper position-relative" style="overflow: hidden">
            {{#editableimage}}
            <div class="position-absolute w-100 h-100 d-block">
                <div class="d-flex flex-column h-100">
                    {{{editableimage}}}
                </div>
            </div>
            {{/editableimage}}
            <img src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAyAAAAHCAQMAAAAtrT+LAAAAAXNSR0IB2cksfwAAAAlwSFlzAAALEwAACxMBAJqcGAAAAANQTFRF7+/v7Je6jQAAAENJREFUeJztwYEAAAAAw6D5U1/hAFUBAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAALwGsYoAAQbjkYoAAAAASUVORK5CYII=" class="img-responsive">
            {{#icon}}
                <div class="adverticon-container position-absolute p-2" style="left: 0; bottom: 0;">
                    <img src="{{{ icon }}}" class="adverticon">
                </div>
            {{/icon}}
        </div>
            <div class="av_metadata av_metadata_bg av_metadata_border w-100">
                <div class="mb-3">
                    {{{ description_text }}}
                </div>
                <div class="row no-gutters">
                    <div class="col-6">
                        <div class="inner separator">
                        <h4 class="italic">{{#str}} trainers, coursemetadatafield_arup {{/str}}</h4>
                        {{#trainers}}
                            {{> coursemetadatafield_arup/trainer }}
                        {{/trainers}}
                        </div>
                    </div>
                    <div class="col-6 pl-3">
                        <h4 class="italic">{{#str}} duration, coursemetadatafield_arup {{/str}}</h4>
                        <div class="d-flex">
                            <div class="iconlarge timeicon">
                                {{#pix}} a/clock, theme {{/pix}}
                            </div>{{{duration}}}
                        </div>
                    </div>
                </div>
            </div>
        </div>

    <div class="avtext">
        <div class="arupav_summary_wrapper">
            {{#sections}}
            <div class="section pb-3">
                {{#showheadings}}
                <h3 class="avheading">{{heading}}</h3>
                {{/showheadings}}
                <p>{{{text}}}</p>
            </div>
            {{/sections}}
        </div>
    </div>
    {{/hassections}}
</div>