<div data-region="drawer-toggle" class="navbar-toggler border-0 p-2 ml-1 align-self-center mobile-navdrawer-toggle  workspace-drawer-list">
    <div
        aria-expanded="{{#navdraweropen}}true{{/navdraweropen}}{{^navdraweropen}}false{{/navdraweropen}}"
        aria-controls="nav-drawer"
        class=""
        data-action="toggle-drawer"
        data-side="left"
        data-preference="drawer-open-nav">
            <div class="d-flex align-items-center iconlarge">
                     {{#pix}} i/menubars, core {{/pix}}
                <span class="sr-only">{{#str}}sidepanel, core{{/str}}</span>
            </div>
    </div>
</div>