{{!
    This file is part of Moodle - http://moodle.org/

    Moodle is free software: you can redistribute it and/or modify
    it under the terms of the GNU General Public License as published by
    the Free Software Foundation, either version 3 of the License, or
    (at your option) any later version.

    Moodle is distributed in the hope that it will be useful,
    but WITHOUT ANY WARRANTY; without even the implied warranty of
    MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
    GNU General Public License for more details.

    You should have received a copy of the GNU General Public License
    along with Moodle.  If not, see <http://www.gnu.org/licenses/>.
}}
{{!
    @template theme_arupboost/megamenu

    This template renders the main content area for the myoverview block.

    Example context (json):
    {}
}}
<div id="searchmodal" class="modal fade" id="updatetimezone" tabindex="-1" role="dialog" data-region="search-modal" style="margin-top: 100px;">
    <div class="modal-dialog" role="document">
        <div class="modal-content border-0">
            <div class="modal-body text-center px-3 py-1 bg-light">
                <form class="mform" action="{{{wwwroot}}}/local/catalogue/index.php">
                    <div class="input-group bg-white my-3">
                        <input
                            type="text"
                            name="search"
                            class="form-control form-control-lg"
                            placeholder="{{#str}} frontpage:search, theme_arupboost {{/str}}"
                            aria-label="{{#str}} frontpage:search, theme_arupboost {{/str}}"
                            data-region="search-input"
                        >
                        <input
                            type="hidden"
                            name="context"
                            value="{{{output.pagecontextid}}}"
                        >
                       <input
                            type="hidden"
                            name="page"
                            value="search"
                        >
                        <input
                            type="hidden"
                            name="showcatid"
                            value=-1
                        >
                        <div class="input-group-append">
                            <button
                                class="btn btn-blue030 btn-lg"
                                type="submit"
                                data-action="search"
                            >
                                <span data-region="search-icon-container">
                                    {{#pix}} a/search, core {{/pix}}
                                </span>
                                <span class="hidden" data-region="loading-icon-container">
                                    {{> core/loading }}
                                </span>
                            </button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>