<div class="element-inline">
    <a data-toggle="collapse" data-target="#extrafields" class="btn btn-info showmore collapsed">
        <span class="closed">
            {{#str}}moreoptions, local_reports{{/str}}
        </span>
    </a>
</div>
<div class="element-inline">
