.instructor .leftcol img {
    max-width: 100%;
}
.courseracourse .rightcol {
    text-align: right;
}
.float-left {
    float: left;
}
.row.coursestatus {
    padding-bottom: 25px;
}
.courseracourseinfo {
    margin: 5px;
    padding: 15px;
}
.courseralogo {
    height: 15px;
    margin: 4px;
}
li.activity.coursera.modtype_coursera div.activityinstance {
    width: 100%
}

li.activity.coursera.modtype_coursera div.mod-indent-outer {
    width: 100%
}

li.activity.coursera.modtype_coursera div.activityinstance span.instancename,
li.activity.coursera.modtype_coursera div.activityinstance img.activityicon {
    display: none;
}