/*
 * CSS Style.
 *
 * @package     local_wa_learning_path
 * @author      Łukasz Juchnik <lukasz.juchnik@webanywhere.co.uk>
 * @author      Bartosz Hornik <bartosz.hornik@webanywhere.co.uk>
 * @copyright   2016 Webanywhere (http://www.webanywhere.co.uk)
 */

.wa_tabs {
    margin-bottom: 20px;
    font-size: 0px;
    border-bottom: 1px solid #DDD;
    padding-bottom: -3px;
    height: 38px
}

.padd_5{
    padding: 5px;
}

.padd_10{
    padding: 10px;
}

.alert-danger,
.alert-error {
    background-color: #f2dede;
    border-color: #b94a48;
    color: #b94a48;
}

/* Activity form */
/* Begin */

.wa_activity_mform .fgroup .duration_unit_text{
	margin: 0px 10px 0px 10px
}

.wa_activity_mform .ftextarea #id_learningdescription{
	height: 100px;
}

/* Activity form */
/*End */

.wa_tabs a {
    display: inline-block;
    padding: 10px 30px;
    height: 38px;
    font-size: 12px;
}

.wa_tabs a:hover {
    background: #F4F4F4;
    text-decoration: none;
}

.wa_tabs a.current {
    border-top: 1px solid #DDD;
    border-left: 1px solid #DDD;
    border-right: 1px solid #DDD;
    border-bottom: 1px solid #FFF;
}

.wa_hide { display: none; }

.wa_matrix {
	display: table;
	width: 100%;
	border-collapse: separate;
	border-spacing: 2px;
    margin-top: 8px;
}

.wa_matrix .btn {
	padding: 0;
}

.wa_matrix > div {
	display: table-row;
	width: 100%;
}

.wa_matrix > div > div {
	border: 1px solid #888;
	display: table-cell;
}

.wa_matrix > div:first-child > div:first-child {
	border: 0;
}

.wa_matrix .m3 {
	margin: 3px;
}

.wa_matrix .col_header select {
	width: 100%;
}

.wa_matrix .col_header > div {
	text-align: center;
	margin-top: 3px;
}

.wa_matrix .row_header {
	display: table;
	width: 100%;
    line-height: 32px;
}

#editing_matrix .legend {
    position: absolute;
    top: -14px;
    left: 12px;
    border: 1px solid #888;
    padding: 5px 10px;
    font-size: 11px;
}

#editing_matrix .legend_container {
    position: relative;
}

#editing_matrix .legend img {
    margin: 2px 10px 2px 0;
    width: 25px;
    vertical-align: middle;
}

#editing_matrix .legend > :nth-child(2) {
    margin-left: 0px;
    margin-top: 8px;
}

#editing_matrix .buttons {
	text-align: right;
	margin-top: 5px;
}

.wa_matrix .cell {
	text-align: center;
	border: 1px solid #888;
}

.wa_matrix .name {
	max-width: 350px;
	overflow: hidden;
	display: inline-block;
}

.wa_matrix .wa_row > div {
    line-height: 35px;
}

.wa_matrix .row_header > div {
	display: table-cell;
}

.wa_matrix .row_header > div:nth-child(2) {
	width: 133px;
	text-align: right;
}

#global_lerning_paths_list tr .c2{
	width: 15%;
    text-transform: uppercase;
}

.learning_path_global_list #learning_path_global_list_region_id{
	margin-left: 5px;
}

.learning_path_global_list,
.learning_path_matrix,
.learning_path{
	margin-bottom: 20px;
}

#global_learning_paths_list tr .c1{
    width: 15%;
}

.learning_path_global_list .tile{
    float: left;
    width: 200px;
    height: 280px;
    margin: 0px 15px 15px 0px;
    position: relative;
    border: 1px solid black;
    background-color: #eee;
    border: 1px solid #e3e3e3;
    border-radius: 3px;
}

.learning_path_global_list .tile .image_box{
    max-width: 100%;
    max-height: 140px;
	height: 140px;
    overflow: hidden;
    margin-bottom: 10px;
	cursor: pointer;
}

.learning_path_global_list .tile img.learning_path_image{
    max-width: 200px;
}

.learning_path_global_list .tile .title{
    width: 100%;
    height: 20px;
    overflow: hidden;
    margin-bottom: 5px;
}

.learning_path_global_list .tile .short_description{
    width: 100%;
    height: 60px;
    overflow: hidden;
}

.learning_path_global_list .tile .region{
    float: left;
    position: absolute;
    bottom: 0px;
    left: 5px;
	width: 50%;
	max-height: 40px;
    overflow: hidden;
}

.learning_path_global_list .tile .subscribed{
    float: right;
    position: absolute;
    bottom: 0px;
    right: 5px;
	font-weight: bold;
	text-transform: uppercase;
}

.learning_path .learning_path_content{
    margin-top: 10px;
}
.learning_path .learning_path_content .goto_learning_path_matrix{
    margin-top: 10px
}
.learning_path .learning_path_content .right,
.learning_path .learning_path_content .left{
    padding: 5px;
	word-wrap: break-word;
}

.learning_path .learning_path_content .left{
    float: left;
    width: 65%;
}

.learning_path .learning_path_content .right{
    float: left;
    width: 35%;
    border: 1px solid #bcbec0;
}

.learning_path .learning_path_content .right img.learning_path_image{
    max-width: 100%;
}


.learning_path .learning_path_content .keywords_tags .keywords_tags_list{
    overflow: hidden;
    margin-top: 5px;
}

.learning_path .learning_path_content .keywords_tags{
    padding: 5px;
    margin-top: 10px;
}

.learning_path .learning_path_content .keyword{
    border: 2px solid #bcbec0;
    color: #bcbec0;
    padding: 4px;
    float: left;
    margin: 0px 8px 8px 0px;
    border-radius: 3px;
    max-width: 100%;
}

.learning_path_matrix .outer .lp_matrix {
	width: 100%;
}

.learning_path_matrix .lp_matrix .lp_empty{
	border: none;
}

.learning_path_matrix .lp_matrix .lp_row_header{
	vertical-align: middle;
}

.learning_path_matrix .lp_matrix .lp_row_header .cell_container{
	height: 44px;
    line-height: 44px;
	overflow: hidden;
}


.learning_path_matrix .lp_matrix .lp_col_header{
	text-align: center;
	font-weight: bold;
	border: none;
	background: none;
}

.learning_path_matrix .lp_matrix td,
.learning_path_matrix .lp_matrix .lp_row_header{
	background: url('../pix/matrix_border.png');
	background-repeat: repeat-x;
	background-size: 1px;
}

.learning_path_matrix .lp_matrix .lp_cell{
	text-align: center;
}

.learning_path_matrix .lp_matrix .lp_cell .cell_icon_container{
	width: 100%;
    height: 100%;
	margin: 1px;
	padding: 4px;
	border: 0px;
}

.learning_path_matrix .lp_matrix .lp_cell .cell_icon_container > a{
	width: 100%;
    height: 100%;
    display: block;
	padding: 0px;
	border: 0px;
}

.learning_path_matrix .lp_matrix .lp_cell .cell_icon_container:hover{
	padding: 0px;
	border: 4px solid #eee;
}

.learning_path_matrix .lp_matrix .lp_cell.active .cell_icon_container{
	background-color: #eee;
}

.learning_path_matrix .lp_matrix .lp_cell.clickable:hover{

}

.learning_path_matrix .lp_matrix .lp_cell.clickable .empty_box,
.learning_path_matrix .lp_matrix .lp_cell.clickable img{
	width: 44px;
	height: 44px;
	cursor: pointer;
}

.learning_path_matrix .lp_empty .legend{
	text-align: left;
	border: 1px solid #bbb;
	border-radius: 5px;
	margin-bottom: 10px;
	padding: 5px;
	float: left;
	font-size: 10px;
}

.learning_path_matrix .lp_empty .legend .key{
	font-size: 14px;
	padding-left: 5px;
}

.learning_path_matrix .lp_empty .legend .minus{
	cursor: pointer;
}

.learning_path_matrix .lp_empty .legend .legend_item{
	margin: 3px 0px 3px 3px;
}

.learning_path_matrix .lp_empty .legend .legend_item .empty_box,
.learning_path_matrix .lp_empty .legend .legend_item img{
	width: 25px;
	height: 25px;
	display: inline-block;
	margin-right: 2px;
}

/* Table scroll */
/*--- Begin ----*/
.learning_path_matrix .lp_matrix_scroll_enable table  {
	display: table;
	table-layout: fixed;
	width: 100%;
	/*margin-left: -100px;*/
}

.learning_path_matrix .lp_matrix_scroll_enable table td, .learning_path_matrix .lp_matrix_scroll_enable table th {
	vertical-align: top;
	width: 59px;
}
.learning_path_matrix .lp_matrix_scroll_enable table th {
	position:absolute;
	*position: relative; /*ie7*/
	left: 0;
	width: 180px;
	border: none;
}
.learning_path_matrix .lp_matrix_scroll_enable .outer {
	position:relative
}

.learning_path_matrix .lp_matrix_scroll_enable .inner {
	overflow-x: scroll;
	overflow-y: visible;
	width: 700px;
	margin-left: 180px;
}

.learning_path_matrix .lp_matrix_scroll_enable td,
.learning_path_matrix .lp_matrix_scroll_enable .lp_row_header{
	/*border-top: 1px solid #bbb;*/
}
.learning_path_matrix .inner_scroll_top{
	display: none;
}

.learning_path_matrix .lp_matrix_scroll_enable .inner_scroll_top{
	display: block;
	width: 700px;
	height: 20px;
	margin-left: 180px;
	overflow-x: scroll;
	overflow-y: hidden;
}

.learning_path_matrix .matrix_activities{
	margin-top: 10px;
	border: 10px solid #eee;
}

.learning_path_matrix .matrix_activities .fl-r {
    float: right;
}

.learning_path_matrix .matrix_activities .wa_tabs{
	margin-bottom: 10px;
}

.learning_path_matrix .matrix_activities .is_completed{
	margin-right: 13px;
	margin-top: 5px;
	font-weight: bold;
}

/* List of modules*/
/* Begin */
.learning_path_matrix .list_of_activities {
	width: 100%;
}

.learning_path_matrix .list_of_activities .mark_as_complete{
	white-space: nowrap;
}

.learning_path_matrix .tab_content.add_scroll {
	max-height: 570px;
	overflow-x: hidden;
	overflow-y: scroll;

}

.learning_path_matrix .list_of_activities .cell {
	padding: 8px;
    line-height: 1.42857143;
    vertical-align: top;
    border-top: 1px solid #ddd;
}

.learning_path_matrix .list_of_activities h4.activity_title {
    margin-top: 0;
}

.learning_path_matrix .list_of_activities .activity-position {
    display: inline-block;
    padding: 0 4px;
    border-radius: 4px
}

.learning_path_matrix .list_of_activities .cell .item_icon{
	height: 31px;
}

.learning_path_matrix .filtration .filter_checkboxes {
	margin-right: 50px;
	margin-left: 4px;
}

.learning_path_matrix .filtration .filter_methodology{
	padding-left: 8px;
}

.learning_path_matrix .filtration .filter_checkboxes input{
	margin-top: 7px;
}
.learning_path_matrix .list_of_activities .first .cell,
.learning_path_matrix .list_of_activities .cell.activity_full_description{
	border: none;
}

.learning_path_matrix .tab_content .completion_indicator{
	font-size: 20px;
	color: #bbb;
}

.learning_path_matrix .tab_content .completion_indicator.completed{
	color: black;
}

.learning_path_matrix .tab_content thead th{
	text-align: center;
}

.learning_path_matrix .tab_content .c0{
	text-align: center;
	width: 1%;
}

.learning_path_matrix .tab_content .c2,
.learning_path_matrix .tab_content .c3,
.learning_path_matrix .tab_content .c4{
	width: 10%;
	text-align: center;
}

/* End */

.activity_completion {
	cursor: pointer;
}
/*.wa_checkbox {
    cursor: pointer;
    border: 2px solid black;
    border-radius: 6px;
    width: 90px;
    overflow: hidden;
    height: 25px;
}

.wa_checkbox div {
    color: black;
    font-size: 12px;
    line-height: 23px;
    width: 50px;
    text-align: center;
}

.wa_checkbox.yes div {
    float: left;
    border-right: 2px solid black;
    background: #10B0F3;
}

.wa_checkbox.no div {
    border-left: 2px solid black;
    float: right;
    background: #BBB;
}*/

#activitiyform .wa_tabs {
    margin: 0;
}

#activitiyform .tab {
    padding: 10px;
    border-right: 1px solid #DDD;
    border-left: 1px solid #DDD;
    border-bottom: 1px solid #DDD;
}

#activitiyform .tab input[type="text"] {
    width: 100%;
    border: 1px solid #DDD;
    margin-bottom: 10px;
}

#activitiyform .tab select {
    display: inline-block;
}

#activitiyform .tab .marg {
    margin: 3px 0;
    height: 35px;
    position: relative;
}

#activitiyform .tab .marg input {
    position: absolute;
    top: 0;
    left: 0;
}

#activitiyform .tab .marg button {
    position: absolute;
    top: 0;
    right: 0;
}

#activitiyform .results {
    border: 1px solid #DDD;
    border-radius: 2px;
    padding: 10px;
    margin-bottom: 10px;
    max-height: 150px;
    overflow-y: scroll;
}

#activitiyform .results a {
    display: block;
    width: 100%;
    line-height: 22px;
    padding: 0 4px;
}

#activitiyform div.added {
    margin-bottom: 10px;
}

#activitiyform b {
    line-height: 30px;
}

#activitiyform .added > div > div {
    width: 100%;
    display: table;
    border-collapse:separate;border-spacing:5px;
}

#activitiyform .added > div > div > div {
    width: 100%;
    display: table-row;
}

#activitiyform .added > div > div > div > div:nth-child(1) {
    width: 25%;
    display: table-cell;
}

#activitiyform .added > div > div > div.activity > div:nth-child(1) {
    width: 90%;
}

#activitiyform .added > div > div > div > div:nth-child(2) {
    width: 55%;
    display: table-cell;
    border: 1px solid #DDD;
    padding: 0 3px;
    overflow: hidden;
}

#activitiyform .added > div > div > div.activity > div:nth-child(2) {
    width: 10%;
    border: 0;
    text-align: right;
    padding: 0;
}

#activitiyform .added > div > div > div > div:nth-child(3) {
    width: 10%;
    display: table-cell;
    text-align: right;
}

#activitiyform .modules .selectpicker {
    margin-bottom: 10px;
    width: 100%;
}

#activitiyform .activity .selectpicker {
    width: 70%;
}

.learning_path_matrix .btn-group>.btn{
    margin-top: 5px;
    margin-bottom: 5px;
}

.learning_path_content iframe{
    max-width: 100%;
}

.wa_learning_path_content select{
    outline: none;
}

.wa_learning_path_content select.publ{
    border-color: #009e0f;
}

.wa_learning_path_content select.draft{
    border-color: #cc0000;
}

.wa_learning_path_content select.invi {
    border-color: #ff9900;
}

.wa_learning_path_content span.publ{
    color: #009e0f;
}

.wa_learning_path_content span.draft{
    color: #cc0000;
}

.wa_learning_path_content span.invi {
    color: #ff9900;
}

#activitiyform a.selected {
    background: #DDD;
    text-decoration: none;
}

#activitiyform .add_info {
    color: #090;
    padding: 5.5px 10px;
    margin-left: 20px;
    border: 1px solid #93e0cd;
    border-radius: 2px;
    background-color: #e2f7f2;
    color: #30aa8c;
}

#activitiyform a.added {
    text-align: right;
    color: #666;
    font-style: italic;;
    text-decoration: none;
}

@media (min-width:701px) and (max-width: 1120px) {
   .learning_path_content .right .btn.btn-default.pull-left,
   .learning_path_content .right .btn.btn-default.pull-right{
       float: none!important;
       margin-top: 10px;
       display: inline-block;
   }
}

@media (max-width: 700px) {
    .learning_path .learning_path_content .right,
    .learning_path .learning_path_content .left{
        width: 100%
    }
}

#id_asubmitbutton,
.wa_blue_button {
    background: #0f95ff !important;
    border-color: #0089f5 !important;
    color: #fff !important;
}

#id_asubmitbutton:hover, .wa_blue_button:hover {
    background-color: #007adb !important;
    border-color: #0066b7 !important;
    color: #fff !important;
}

.greyed .cell, .greyed.cell {
    background-color: #DDD;
}
