{{!
    This file is part of The Arup Onpage course format

    Moodle is free software: you can redistribute it and/or modify
    it under the terms of the GNU General Public License as published by
    the Free Software Foundation, either version 3 of the License, or
    (at your option) any later version.

    Moodle is distributed in the hope that it will be useful,
    but WITHOUT ANY WARRANTY; without even the implied warranty of
    MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
    GNU General Public License for more details.

    You should have received a copy of the GNU General Public License
    along with Moodle.  If not, see <http://www.gnu.org/licenses/>.

    @package    format_aruponepage/sectionnavigation
    @copyright  2019 Bas Brands <bas@sonsbeekmedia.nl>
    @author     Bas Brands
    @license    http://www.gnu.org/copyleft/gpl.html GNU GPL v3 or later
}}
{{!
    @template format_aruponepage/sectionnavigation

    Example json {
    }
}}
<div class="mt-auto w-100">
    <div class="w-100 d-flex my-lg-5 brand-font sectionnavigation">
        {{#previous}}
            <a href="{{{previous.url}}}">
            <span class="fa-stack">
                <i class="fa fa-circle fa-stack-2x"></i>
                <i class="fa fa-arrow-left fa-stack-1x"></i>
            </span>
            </span>
                {{#str}} previous, format_aruponepage {{/str}}
            </a>
        {{/previous}}
        {{#next}}
            <a href="{{{next.url}}}" class="ml-auto">
                {{#str}} next, format_aruponepage {{/str}}
                <span class="fa-stack">
                    <i class="fa fa-circle fa-stack-2x"></i>
                    <i class="fa fa-arrow-right fa-stack-1x"></i>
                </span>
            </a>
        {{/next}}
    </div>
</div>