{{< core_form/element-template-inline }}
    {{$element}}
        <div class="fscheduler">
        {{#element.elements}}
            {{{separator}}}
            {{{html}}}
        {{/element.elements}}
        </div>
    {{/element}}
{{/ core_form/element-template-inline }}
