{{!
    This file is part of Moodle - http://moodle.org/
     Moodle is free software: you can redistribute it and/or modify
    it under the terms of the GNU General Public License as published by
    the Free Software Foundation, either version 3 of the License, or
    (at your option) any later version.
     Moodle is distributed in the hope that it will be useful,
    but WITHOUT ANY WARRANTY; without even the implied warranty of
    MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
    GNU General Public License for more details.
     You should have received a copy of the GNU General Public License
    along with Moodle.  If not, see <http://www.gnu.org/licenses/>.
}}
{{!
    @template local_reportbuilder/report_extra

    Displays a custom report
}}
<div>
    {{{ export }}}
    <a
        id="showquerybutton"
        class="btn btn-link closed"
        data-toggle="collapse" href="#showquery" aria-expanded="false" aria-controls="showquery"
        style="margin-right: auto;"
    >
        <i class="fa fa-caret-right open"></i>
        <i class="fa fa-caret-down closed"></i> Show Query
    </a>
    <div id="showquery" data-region="advancedsearch" class="collapse">
        <div class="p-a-1 m-b-1">
        {{{ debug }}}
        </div>
    </div>
</div>