<div class="row no-gutters panellayout col-12">
    <div class="col-6 col-md-3" data-region="zone" data-zone="0">
        <div class="p-1 zonecontent h-100">{{{zone0content}}}</div>
    </div>
    <div class="col-6 col-md-3" data-region="zone" data-zone="1">
        <div class="p-1 zonecontent h-100">{{{zone1content}}}</div>
    </div>
    <div class="col-6 col-md-3" data-region="zone" data-zone="2">
        <div class="p-1 zonecontent h-100">{{{zone2content}}}</div>
    </div>
    <div class="col-6 col-md-3" data-region="zone" data-zone="3">
        <div class="p-1 zonecontent h-100">{{{zone3content}}}</div>
    </div>
</div>
<div class="row no-gutters panellayout col-12">
    <div class="col-6 col-md-3" data-region="zone" data-zone="4">
        <div class="p-1 zonecontent h-100">{{{zone4content}}}</div>
    </div>
    <div class="col-6 col-md-3" data-region="zone" data-zone="5">
        <div class="p-1 zonecontent h-100">{{{zone5content}}}</div>
    </div>
    <div class="col-6 col-md-3" data-region="zone" data-zone="6">
        <div class="p-1 zonecontent h-100">{{{zone6content}}}</div>
    </div>
    <div class="col-6 col-md-3" data-region="zone" data-zone="7">
        <div class="p-1 zonecontent h-100">{{{zone7content}}}</div>
    </div>
</div>