<div class="modal fade" id="validity-confirm-modal" tabindex="-1" role="dialog" aria-labelledby="validity-confirm-modal-label">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="{{#str}}form:modal:validityconfirm:dismiss, mod_arupevidence{{/str}}"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" id="oa-print-confirm-modal-label">{{#str}}form:modal:validityconfirm:title, mod_arupevidence{{/str}}</h4>
            </div>
            <div class="modal-body">
                <p>{{#str}}form:modal:validityconfirm:content, mod_arupevidence, {{expectedvalidityperiod}}{{/str}}</p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">{{#str}}modal:validityconfirm:cancel, mod_arupevidence{{/str}}</button>
                <a id="validity-confirm-btn" href="#" class="btn btn-primary">{{#str}}modal:validityconfirm:confirm, mod_arupevidence{{/str}}</a>
            </div>
        </div>
    </div>
</div>