<div>
    <!-- Nav tabs -->
    <ul class="nav nav-tabs" role="tablist">
        <li role="presentation" class="active"><a href="#approval" aria-controls="approval" role="tab" data-toggle="tab">For Approval</a></li>
        <li role="presentation"><a href="#approved" aria-controls="approved" role="tab" data-toggle="tab">Approved Evidence</a></li>
        <li role="presentation"><a href="#rejected" aria-controls="rejected" role="tab" data-toggle="tab">Rejected Evidence</a></li>
    </ul>

    <!-- Tab panes -->
    <div class="tab-content">
        <div role="tabpanel" class="tab-pane active" id="approval">{{{approvaltable}}}</div>
        <div role="tabpanel" class="tab-pane" id="approved">{{{approvedtable}}}</div>
        <div role="tabpanel" class="tab-pane" id="rejected">{{{rejectedtable}}}</div>
    </div>
</div>