<div class="col-md-3 col-6" data-region="zone" data-zone="0">
	<div class="p-1 zonecontent h-100">{{{zone0content}}}</div>
</div>
<div class="col-md-3 col-6" data-region="zone" data-zone="1">
	<div class="p-1 zonecontent h-100">{{{zone1content}}}</div>
</div>
<div class="col-md-3 col-6" data-region="zone" data-zone="2">
	<div class="p-1 zonecontent h-100">{{{zone2content}}}</div>
</div>
<div class="col-md-3 col-6" data-region="zone" data-zone="3">
	<div class="p-1 zonecontent h-100">{{{zone3content}}}</div>
</div>