{{#addcourse}}
    <div class="addclassbtn m-r-10">
        <div class="innerbuttons">
            <a href="{{{addcourseurl}}}" class="btn btn-success">
                {{#str}}addcourse, local_coursemanager{{/str}}
            </a>
        </div>
    </div>
{{/addcourse}}