<table id="coursemanager-csvupload" class="generaltable flexible boxaligncenter">
    <thead>
        <tr style="vertical-align: bottom">
            {{#heading}}
                <th scope="col {{class}}">
                    {{name}}
                </th>
            {{/heading}}
        </tr>
    </thead>
    <tbody>