form#regions-mapcourses th {
    text-align: center;
}
form#regions-mapcourses td {
    text-align: left;
}

form#regions-mapcourses th.regions-left {
    text-align: left;
}

form#regions-mapcourses th.regions-right,
form#regions-mapcourses td.regions-right {
    text-align: right;
}

form#regions-mapcourses td.regions-center {
    text-align: center;
}

form#regions-mapcourses th.regions-middle {
    vertical-align: middle;
}

form#regions-mapcourses th.regions-spacer,
form#regions-mapcourses td.regions-spacer {
    background: #EEEEEE;
    padding: 0;
    width: 5px;
}

form#regions-mapcourses input[type=checkbox] {
    margin: 0;
}