{{!
    This file is part of the Online Appraisal Plugin for Arup.
}}
{{!
    @template local_onlineappraisal/feedback

    Display the feedback page which includes a table with contributors and a form
}}

<div class="px-4 mb-3">
<strong>{{feedbackheader}}</strong>
</div>
{{{form}}}