{{!
    This file is part of the Online Appraisal Plugin for Arup.
}}
{{!
    @template local_onlineappraisal/feedback

    Display the feedback page which includes a table with contributors and a form
}}

<strong>{{feedbackheader}}</strong>

{{{form}}}