<h2 class="mt-0">{{#str}}appraisee_heading, local_onlineappraisal{{/str}}</h2>
<div class="row">
    <div class="col-md-6 mb-2">
        <div>{{#str}}appraisee_welcome, local_onlineappraisal{{/str}}</div>
    </div>
    <div class="col-md-6">
        <div class="fluid-width-video-wrapper">
            {{#str}}introduction:video, local_onlineappraisal{{/str}}
        </div>
    </div>
</div>
{{#targetedmessage}}
<div class="row mt-2">
    {{{.}}}
</div>
{{/targetedmessage}}
<div class="row mt-2">
    <div class="col-md-6">
        <div>
            {{#str}}appraisee_welcome_info, local_onlineappraisal, {{duedate}}{{/str}}
        </div>
    </div>
    <div class="col-md-6 text-center">
        <a class="btn btn-success" href="{{{url}}}">
        {{#iscontinuing}}
            {{#str}}continueappraisal, local_onlineappraisal{{/str}}
        {{/iscontinuing}}
        {{^iscontinuing}}
            {{#str}}startappraisal, local_onlineappraisal{{/str}}
        {{/iscontinuing}}
        </a>
    </div>
</div>