<div class="lastyearboxes m-t-10 {{type}}">
    <a class="btn btn-warning" data-toggle="collapse" href="#{{type}}" aria-expanded="false" aria-controls="collapseExample">
        {{#development}}
            {{#str}}form:lastyear:cardinfo:developmentlink, local_onlineappraisal{{/str}}
        {{/development}}
        {{#performance}}
            {{#str}}form:lastyear:cardinfo:performancelink, local_onlineappraisal{{/str}}
        {{/performance}}
    </a>
    <div class="collapse" id="{{type}}">

    {{#hasdata}}
    <div class="row">
    {{#lastyear}}
        <div class="col-md-12">
            <div class="panel panel-default m-t-10">
                <div class="panel-heading">
                    {{{question}}}
                </div>
                <div class="panel-body">
                    {{#isarray}}
                        {{#data}}
                            {{{.}}}
                        {{/data}}
                    {{/isarray}}
                    {{^isarray}}
                        {{{data}}}
                    {{/isarray}}
                </div>
            </div>
        </div>
    {{/lastyear}}
    </div>
    {{/hasdata}}
    {{^hasdata}}
        <div class="alert alert-warning m-t-10" role="alert">
            {{#str}}form:lastyear:cardinfo:none, local_onlineappraisal{{/str}}
        </div>
    {{/hasdata}}
    </div>
</div>