<div class="modal fade" id="oa-save-nag-modal" tabindex="-1" role="dialog" aria-labelledby="oa-save-nag-modal-label">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="{{#str}}form:modal:savenag:dismiss, local_onlineappraisal{{/str}}"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" id="oa-save-nag-modal-label">{{#str}}form:modal:savenag:title, local_onlineappraisal{{/str}}</h4>
            </div>
            <div class="modal-body">
                <p>{{#str}}form:modal:savenag:content, local_onlineappraisal{{/str}}</p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">{{#str}}form:modal:savenag:dismiss, local_onlineappraisal{{/str}}</button>
                <button type="button" class="btn btn-primary oa-save-nag-modal-save">{{#str}}form:modal:savenag:save, local_onlineappraisal{{/str}}</button>
            </div>
        </div>
    </div>
</div>