{{!
    This file is part of the Online Appraisal Plugin for Arup.
}}
{{!
    @template local_onlineappraisal/printer_leaderplan

    PDF Content : Succession Plan
}}
<div style="width: 90%; margin: auto; color: black; font-size:0.8em;">

    {{>local_onlineappraisal/printer_partial_leaderplan_summary}}

    {{>local_onlineappraisal/printer_partial_forms}}

    {{>local_onlineappraisal/printer_partial_checkins}}
</div>