{{^dropdown}}
    {{#options}}
        <a class="btn btn-outline-secondary ml-2 pull-right oa-print-confirm" href="{{url}}">{{{text}}}</a>
    {{/options}}
{{/dropdown}}
{{#dropdown}}
    <div id="oa-print-menu" class="dropdown ml-2 pull-right">
      <button class="btn btn-outline-secondary dropdown-toggle" type="button" id="oa-print-menu-button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
        Download <span class="caret"></span>
      </button>
      <ul class="dropdown-menu dropdown-menu-right" aria-labelledby="oa-print-menu-button">
        {{#options}}
            <li><a class="dropdown-item oa-print-confirm" href="{{url}}">{{{text}}}</a></li>
        {{/options}}
      </ul>
    </div>
{{/dropdown}}

{{>local_onlineappraisal/modal_print_confirm}}

{{#js}}
require(['jquery', 'theme_bootstrap/bootstrap'], function($) {
    $('a.oa-print-confirm').click(function(e){
        e.preventDefault();
        var self = $(this);
        $('#oa-print-confirm-modal-continue').attr('href', self.attr('href'));
        $('#oa-print-confirm-modal').modal({
            backdrop: 'static',
            keyboard: false
        });
    });

    $('#oa-print-confirm-modal-continue').click(function(){
        $('#oa-print-confirm-modal').modal('hide');
    });
});
{{/js}}