<div class="user-panel-svg">
    <div class="appraisee-user-panel-svg">{{{appraisee}}}</div><div class="appraiser-user-panel-svg">{{{appraiser}}}</div><div class="signoff-user-panel-svg">{{{signoff}}}</div>
</div>