<div class="d-flex align-items-center mb-2">
    <h5 class="m-0">{{$title}}{{/title}}</h5>
    <div class="actions ml-auto">
    	<a class="btn btn-primary rounded-circle btn-sm btn-more" href="#" data-action="expand"><i class="fa fa-plus"></i></a>
    	<a class="btn btn-primary rounded-circle btn-sm btn-less" href="#" data-action="collapse"><i class="fa fa-minus"></i></a>
	</div>
</div>