<div class="col-md-9" data-region="zone" data-zone="0">
    <div class="p-1 zonecontent">{{{zone0content}}}</div>
</div>
<div class="col-md-3">
    <div class="row flex-column no-gutters">
        <div class="col-12" data-region="zone" data-zone="1">
            <div class="p-1 zonecontent nodesc h-100">{{{zone1content}}}</div>
        </div>
        <div class="col-12" data-region="zone" data-zone="2">
            <div class="p-1 zonecontent nodesc h100">{{{zone2content}}}</div>
        </div>
    </div>
</div>