<form id="{{ id }}" action="{{ action }}" method="get">
    <div class="input-group input-group-lg" >
        <input type="text" spellcheck="true" name="search" class="form-control" placeholder="{{ placeholder }}" value="{{ value }}">
        <span class="input-group-btn">
            <button class="btn btn-default" type="button"><i class="fa fa-search"></i></button>
        </span>
    </div>
    {{! Always clear filters on new search }}
    <input name="clearfilters" type="hidden" value="1">
</form>