<div class="modal fade" id="delete-confirm-modal" tabindex="-1" role="dialog" aria-labelledby="delete-confirm-modal-label">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="{{#str}}modal:deleteconfirm:dismiss, block_certification_report{{/str}}"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title">{{#str}}modal:deleteconfirm:title, block_certification_report{{/str}}</h4>
            </div>
            <div class="modal-body">
                <p>{{#str}}modal:deleteconfirm:content, block_certification_report{{/str}}</p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">{{#str}}modal:deleteconfirm:cancel, block_certification_report{{/str}}</button>
                <a id="delete-confirm-btn" href="#" class="btn btn-primary">{{#str}}modal:deleteconfirm:confirm, block_certification_report{{/str}}</a>
            </div>
        </div>
    </div>
</div>