<form class="form-inline">
        <div class="input-group">
            <input id="current-report-url" class="form-control" value="{{{url}}}" type="text">
            <div class="input-group-addon copy-to-clipboard" data-clipboard-target="#current-report-url"
                 data-title-success="{{#str}}url:copied, block_certification_report{{/str}}"
                 data-title-error="{{#str}}url:notcopied, block_certification_report{{/str}}"
                 title="{{#str}}url:copied, block_certification_report{{/str}}">
                <i class="fa fa-clipboard" aria-hidden="true" title="{{#str}}url:copy, block_certification_report{{/str}}"></i>
                <span class="sr-only">{{#str}}url:copy, block_certification_report{{/str}}</span>
            </div>
    </div>
</form>