<div>
    <div class="picture pull-left m-r-5">{{{userpic}}}</div>
    <div>
        {{#str}}staffid, block_certification_report{{/str}}: {{idnumber}}<br>
        {{#str}}employmentcategory, block_certification_report{{/str}}: {{employment_category}}<br>
</div>