<div class="card picture-list">
    <div class="card-header p-l-10 p-r-10">
        <h3 class="">Category 1: Arup Americas<br> <small>Come and Try our  courses</small></h3>
    </div>
    <div class="pl-body p-l-5 p-r-5">
        {{#boxes}}
        <div class="col-xs-3">
            <a class="coursemini" href="{{courseurl}}">
                <img src="{{courseimage}}" alt="">
            </a>
        </div>
        {{/boxes}}
    </div>
</div>