<div class="row">
    <div class="col-sm-12">
        <div class="text-left footerlinks">
            <span class="copyright">
                &copy; Arup {{date}}
            </span>
            <span class="footerlinks">
                {{#footerlinks}}
                    {{{link}}}
                {{/footerlinks}}
            </span>
        </div>
    </div>
</div>