<div class="card blog-post">
    <div class="bp-header">
        <img src="http://boyle.fritz.box/moodle_arup/theme/arup/pix/video.png" alt="" class="img-responsive">
            
        <a href="" class="bp-title ">
            <h2 class="m-t-0 m-b-10">Urban rail</h2>
            <small class="p-b-10">Our specialists discuss the benefits of urban rail.</small>
        </a>
    </div>

</div>